doctype html
html
    head
    body
        script(src='update.js')
        if user
            form(method="post" action="/logout")
                <button> Logout</button>                
            <p>Add an item</p>
            form(method='POST' action='/home')
                <input type='text' name='list_item'> </input>
                <input type='submit' value='Add Item'></input>

            </br>

            //- for crossing out items
            <input type='button' value='Finish Selected Items' onClick='update("mark")'></input>

            </br>

            //- for deleting items
            <input type='button' value='Delete Selected Items' onClick='update("delete")'></input>
            
            <h3>Your Todo List:</h3>
            -for(item of posts){
                //- if item finished, cross out 
                if item.finished
                    <span class="todo-list" style="text-decoration-line: line-through;">
                        <input type="checkbox" id="#{item.id}">#{item.post}</input>
                    </span>
                else
                    <span class="todo-list">
                        <input type="checkbox" id="#{item.id}">#{item.post}</input>
                    </span>

                </br>   
            -} 

        else
            <h1><a href='/'>Login or signup first to view this page</a></h1>


        