<html>
    <body>
        <title>Hello govnorerer</title>
        <h1>Todo List</h1>
        <form action='/' method='post'>
            <input type='text' name='userLogin'></input>
            <input type='submit' value='Login'></input>
        </form>
        <br/>
        <a href='/signup'>Sign Up</a>

    </body>
</html>